<div class="container">
  <a routerLink='/stores' routerLinkActive="active">back to stores</a>

  <div class="list_container">
    <div class="list_row">
      <h2>store: {{storeId}}</h2>
    </div>
    <div class="list_row">
      <div>
        <h4>Add new product</h4>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" required [(ngModel)]="formModel.name">
          </div>
  
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" name="description" id="desc" placeholder="description" required [(ngModel)]="formModel.description"></textarea>
          </div>
  
          <button type="submit" class="btn btn-success" (click)="handleFormSubmit()">Submit</button>
        </form>
      </div>
    </div>
    <div class="list_row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          <tr *ngFor="let product of products; let i = index;" cdkDrag>
            <th scope="row">{{i + 1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td class="editButton" (click)="handleEdit(product.id)">edit</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
