  <h4>Add new store</h4>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name" required [(ngModel)]="model.name">
    </div>

    <div class="form-group">
      <label for="workingTimes">Working Times</label>
      <input class="form-control" name="workingTimes" id="workingTimes" placeholder="working times" required [(ngModel)]="model.workingTimes">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input class="form-control" name="address" id="address" placeholder="address" required [(ngModel)]="model.address">
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </form>
