<div class="container">
  <div class="list_container">
    <div class="list_row">
      <h2>{{title}}</h2>
    </div>
    <div class="list_row">
      <app-storesForm [onFormSubmit]="handleFormSubmit" [model]="formModel"></app-storesForm>
    </div>
    <div class="list_row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Working Times</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          <tr *ngFor="let store of stores; let i = index;" cdkDrag>
            <th scope="row">{{i + 1}}</th>
            <td><a routerLink="/stores/{{store.id}}" routerLinkActive="active">{{store.name}}</a></td>
            <td>{{store.address}}</td>
            <td>{{store.workingTimes}}</td>
            <td class="editButton" (click)="handleEdit(store.id)">edit</td>
          </tr>              
        </tbody>
      </table>
    </div>
  </div>
</div>