/* You can add global styles to this file, and also import other style files */
.list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
    align-items: center;
    flex-wrap: wrap;
}

.list_item {
    width: 320px;
    margin: 0 0 15px 15px;
}

.editButton {
    text-decoration: underline;
    cursor: pointer;
}